@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Expense" asp-controller="Home" class="btn btn-primary">overview</a>
    <a asp-action="CreateEditExpense" asp-controller="Home" class="btn btn-outline-secondary">create</a>

</div>
